<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cafeteros">

        <activity
            android:name=".ui.features.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Cafeteros">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.features.onboarding.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.explore.ExploreActivity"
            android:exported="true"
            android:theme="@style/Theme.Cafeteros">
            <intent-filter>
                <action android:name="com.cafeteros.historia.OPEN_EXPLORE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.features.coffeemap.CoffeeMapActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.zonedetail.ZoneDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.caficultordetail.CaficultorDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.Cafeteros">
            <intent-filter>
                <action android:name="com.cafeteros.historia.OPEN_CAFICULTOR_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.features.productdetail.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.search.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.filters.OriginFiltersActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.searchresults.SearchResultsActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.caficultorshop.CaficultorShopActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.cart.CartActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.checkoutshipping.ShippingAddressActivity"
            android:exported="false"
            android:theme="@style/Theme.Cafeteros" />

        <activity
            android:name=".ui.features.checkoutpayment.PaymentMethodActivity"
            android:exported="true"
            android:theme="@style/Theme.Cafeteros">
            <intent-filter>
                <action android:name="com.cafeteros.historia.OPEN_PAYMENT_METHOD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.features.orderreview.OrderReviewActivity"
            android:exported="true"
            android:theme="@style/Theme.Cafeteros">
            <intent-filter>
                <action android:name="com.cafeteros.historia.OPEN_ORDER_REVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.features.paymentsuccess.PaymentSuccessActivity"
            android:exported="true"
            android:theme="@style/Theme.Cafeteros">
            <intent-filter>
                <action android:name="com.cafeteros.historia.OPEN_PAYMENT_SUCCESS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.features.paymentfailed.PaymentFailedActivity"
            android:exported="true"
            android:theme="@style/Theme.Cafeteros">
            <intent-filter>
                <action android:name="com.cafeteros.historia.OPEN_PAYMENT_FAILED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.features.addressbook.AddressBookActivity"
            android:exported="true"
            android:theme="@style/Theme.Cafeteros">
            <intent-filter>
                <action android:name="com.cafeteros.historia.OPEN_ADDRESS_BOOK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>
